<form method = "POST" action="/gym_classes/<%= @gym_class.id%>">

  <label for ="title-field">Title:</label>
  <input type ="text" name ="title" id="title-field" value ="<%= @gym_class.title %>" />
<br />
  <label for="description-field">Description:</label>
  <input type="text" name="description" id="description-field" value="<%= @gym_class.description %>" />
<br />
  <label for="teacher-field">Teacher:</label>
  <input type="text" name="teacher" id="teacher-field" value="<%= @gym_class.teacher %>" />
<br />
  <label for="cost-field">Cost: £</label>
  <input type="number" name="cost" id="cost-field" value="<%= @gym_class.cost %>" />
<br />
  <label for="duration-field"> Duration:</label>
  <input type="text" name="duration" id="duration-field" value="<%= @gym_class.duration %>" />
<br />
<label for="time-field"> Time:</label>
<input type="text" name="class_time" id="time-field" value="<%= @gym_class.class_time %>" />
<br />
<label for="capacity-field"> Capacity:</label>
<input type="number" name="capacity" id="capacity-field" value="<%= @gym_class.capacity %>" />
<br />
<input type="submit" value="Edit Class" />

</form>
