<h1>Class</h1>


<p>Title: <%= @gym_class.title %></p>
<p>Description: <%= @gym_class.description %></p>
<p>Teacher: <%= @gym_class.teacher %></p>
<p>Cost: £<%= @gym_class.cost %></p>
<p>Duration: <%= @gym_class.duration %></p>

<form  action="/gym_classes/<%= @gym_class.id %>/edit">
  <input type="submit" value="Edit Class"/>
</form>

<form method="post" action="/gym_classes/<%= @gym_class.id %>/delete">
  <input type="submit" value="Delete Class"/>
</form>

<!-- unsure if I will make 2 seperate files for both members and classes for this, or should they call on the same erb file to both book and view. -->
<form  action="/gym_classes/<%= @gym_class.id %>/view_members">
  <input type="submit" value="View Members"/>
</form>

<form  action="/gym_classes/<%= @gym_class.id %>/book_class">
  <input type="submit" value="Book Class"/>
</form>
