<h1>Members Page</h1>

<form method ="get" action="/members/new">
  <input type="submit" value="New Member"/>
</form>

<% for member in @members %>
<p>First Name: <%= member.first_name %></p>
<p>Last Name: <%= member.last_name %></p>
<p>Membership Type: <%= member.membership_type %></p>
<p>Date of Birth: <%= member.date_of_birth %></p>


<form action="/members/<%= member.id%>">
  <input type="submit" value="View Member"/>
</form>
<% end %>
