<h1>Members Profile</h1>


<p>First Name: <%= @member.first_name %></p>
<p>Last Name: <%= @member.last_name %></p>
<p>Membership Type: <%= @member.membership_type %></p>
<p>Date of Birth: <%= @member.date_of_birth %></p>



<a href="/members/<%= @member.id%>/edit">Edit Details</a>

<form method="post" action="/members/<%= @member.id %>/delete">
  <input type="submit" value="Delete User"/>
</form>

<a href="/members/<%= @member.id%>/booked_classes">Show Members Booked Classes</a>

<a href="/members/<%= @member.id%>/book_class">Book Member on a Class</a>
