<h1>Class</h1>


<p>Title: <%= @gym_class.title %></p>
<p>Description: <%= @gym_class.description %></p>
<p>Teacher: <%= @gym_class.teacher %></p>
<p>Cost: £<%= @gym_class.cost %></p>
<p>Duration: <%= @gym_class.duration %></p>
