<h1>Class</h1>


<p>Title: <%= @gym_class.title %></p>
<p>Description: <%= @gym_class.description %></p>
<p>Teacher: <%= @gym_class.teacher %></p>
<p>Cost: £<%= @gym_class.cost %></p>
<p>Duration: <%= @gym_class.duration %></p>

<p>
  edit/update
</p>

<p>
  delete
</p>

<form method="post" action="/gym_classes/<%= @gym_class.id %>/delete">
  <input type="submit" value="Delete Class"/>
</form>

<p>
  show all members who have booked this class
</p>

<p>
  book a member onto the class
</p>
