<h1 style="text-align:left; padding-left: 3%;"><%= @member.first_name %>'s Profile</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Membership Type</th>
  </tr>

  <tr>
    <td>
      <%= @member.first_name %>
    </td>
    <td>
      <%= @member.last_name %>
    </td>
    <td>
      <%= @member.membership_type %>
    </td>
  </tr>
</table>
<div class="show_member_btn">
  <form class ="show_member_form" action="/members/<%= @member.id %>/edit">
    <input class ="show_member_input" type="submit" value="Edit Member"/>
  </form>

  <form class ="show_member_form" method="post" action="/members/<%= @member.id %>/delete">
    <input class ="show_member_input" type="submit" value="Delete Member"/>
  </form>

  <form  class ="show_member_form" action="/members/<%= @member.id %>/bookings">
    <input class ="show_member_input" type="submit" value="View Classes"/>
  </form>

  <!-- <form  class ="show_member_form" action="/members/<%= @member.id %>/bookings">
  <input class ="show_member_input" type="submit" value="Book Class"/>
</form> -->

</div>
