<h1>Members Profile</h1>


<p>First Name: <%= @member.first_name %></p>
<p>Last Name: <%= @member.last_name %></p>
<p>Membership Type: <%= @member.membership_type %></p>


<form  action="/members/<%= @member.id %>/edit">
  <input type="submit" value="Edit User"/>
</form>

<form method="post" action="/members/<%= @member.id %>/delete">
  <input type="submit" value="Delete User"/>
</form>

<form  action="/members/<%= @member.id %>/bookings">
  <input type="submit" value="View Classes"/>
</form>

<form  action="/booking/<%= @member.id %>/book_class">
  <input type="submit" value="Book Class"/>
</form>
